.page-sidebar {
    background-color: #2B5787
}


.page-container.horizontal-menu header.navbar {
    background-color: #2B5787;
}

ul.main-menu li ul {
    background-color: #2B5787
}

ul.main-menu > li.active > a, ul.main-menu > li > a:hover, ul.main-menu > li > a:focus {
    background-color: #029b17;
}


ul.main-menu .nav > li > a:hover, ul.main-menu .nav > li > a:focus, ul.main-menu .nav > li.has-sub.active > a {
    background-color: #029b17;
}

.sidebar-collapsed .page-sidebar .main-menu > li > a > span.title {
    background-color: #029b17;
}

/*00b8ce to 029b17*/
.sidebar-collapsed .page-sidebar .main-menu > li.has-sub:hover > a, .sidebar-collapsed .page-sidebar .main-menu > li:hover > a {
    background-color: #029b17;
}

.page-container.horizontal-menu header.navbar .navbar-nav > li.active > a, .page-container.horizontal-menu header.navbar .navbar-nav > li:hover > a, .page-container.horizontal-menu header.navbar .navbar-nav li > ul li.active a {
    background-color: #029b17;
}

.navbar-inverse {
    background-color: #2B5787;
}

.datepicker {
    z-index: 99999 !important;
}

.login-content {
    width: 420px;
    margin: 0.5px 200px !important;
    padding: 30px 30px 15px;
}

.login-branding {
    margin-left: 200px !important;
    padding: 30px 0px 0px !important;
    text-align: center;
}

div.required label:after {
    content: " *";
    color: red;
}

.btn-grey {
    color: #ff0000;
    background-color: #ffffff;
    border-color: #cccccc;
}

    .btn-grey:hover,
    .btn-grey:focus,
    .btn-grey:active,
    .btn-grey.active,
    .open .dropdown-toggle.btn-grey {
        color: #ff0000;
        background-color: #ebebeb;
        border-color: #adadad;
    }

    .btn-grey:active,
    .btn-grey.active,
    .open .dropdown-toggle.btn-grey {
        background-image: none;
    }

    .btn-grey.disabled,
    .btn-grey[disabled],
    fieldset[disabled] .btn-grey,
    .btn-grey.disabled:hover,
    .btn-grey[disabled]:hover,
    fieldset[disabled] .btn-grey:hover,
    .btn-grey.disabled:focus,
    .btn-grey[disabled]:focus,
    fieldset[disabled] .btn-grey:focus,
    .btn-grey.disabled:active,
    .btn-grey[disabled]:active,
    fieldset[disabled] .btn-grey:active,
    .btn-grey.disabled.active,
    .btn-grey[disabled].active,
    fieldset[disabled] .btn-grey.active {
        background-color: #ffffff;
        border-color: #cccccc;
    }



