
@{
    ViewBag.Title = "Permissions";
}



<!-- Breadcrumb -->
<ol class="breadcrumb breadcrumb-2">
    <li><a href="index.html"><i class="glyphicon-cog"></i>Admin</a></li>
    <li class="active"><strong>Permissions</strong></li>
</ol>

<style type="text/css">
    .TFtable {
        width: 100%;
        border-collapse: collapse;
    }

        .TFtable td {
            padding: 7px;
            border: #4e95f4 1px solid;
        }
        /* provide some minimal visual accomodation for IE8 and below */
        .TFtable tr {
            background: #b8d1f3;
        }
            /*  Define the background color for all the ODD background rows  */
            .TFtable tr:nth-child(odd) {
                background: #b8d1f3;
            }
            /*  Define the background color for all the EVEN background rows  */
            .TFtable tr:nth-child(even) {
                background: #dae5f4;
            }
</style>



<script src="~/Scripts/jquery-1.12.4.min.js"></script>
@*@using (Html.BeginForm("CreateRP", "RolePermissions", FormMethod.Post, new { id = "RPForm", onsubmit = "return SubmitForm(this)" }))
    {*@
@*<div class="container">
    <div class="row">
        <div class="col-sm-12">*@
@*<h4 class="page-title">Purchase Order Form</h4>*@
@*//table table-condensed table - hover table - striped*@
<div class="form-horizontal">
    <div id="dynamicTable">
        <ul id="treeList" data-role="treeview"></ul>
    </div>
    <input type="submit" value="Submit" id="btnSubmit" class="btn btn-success" />
    <div class="row">
        <div class="form-group">
            <div class="col-md-3 col-md-offset-5">
               
            </div>
        </div>
    </div>
</div>
@*</div>
        </div>
    </div>*@
@*}*@

        <script type="text/javascript">

            $(document).ready(function () {

                // mytable = $('<table></table>').attr({ id: "basicTable" });
                //myheader = $('<thead><tr><td></td></tr></thead>').attr({ id: "TableHeader" });
                var rows;
                var cols;


                $.ajax({
                    type: "POST",
                    url: '/Permissions/Getcontrollers',
                    success: function (data) {
                        if (data != null) {
                            $.ajax({
                                type: "POST",
                                url: '/Permissions/GetPermissions',
                                success: function (permissiondata) {
                                    var str;
                                    var lst = [];
                                    for (var i = 0; i < permissiondata.permissiondata.length; i++) {
                                        lst.push(new Array(permissiondata.permissiondata[i]["PermissionDescription"], permissiondata.permissiondata[i]["PermissionStatus"]));
                                    }

                                    //var str = "<table id='mytab' class='table table-striped table-bordered'><thead><tr><th>Permission</th><th>View</th><th>Add/Edit</th>"
                                    //str += "</tr ></thead><tbody>";
                                    var str, val, ind, status;
                                    str = "";
                                    for (var i = 0; i < data.data.length; i++) {
                                      
                                        if (i == 0) {
                                            str += "<ul><li> <input id='" + data.data[i]["Controller"] + "' type='checkbox' checked='true' />" + data.data[i]["Controller"] + "</li><ul>" ;
                                        }
                                        else if (data.data[i]["Controller"] != data.data[i-1]["Controller"]) {
                                            str += "</ul><li> <input id='" + data.data[i]["Controller"] + "' type='checkbox' checked='true' />" + data.data[i]["Controller"] + "</li><ul>";
                                        }


                                        var viewstatus = false;
                                        var addstatus = false;
                                        for (var k = 0; k < permissiondata.permissiondata.length; k++) {
                                            if (permissiondata.permissiondata[k]["PermissionDescription"] == data.data[i]["Controller"] + "-" + data.data[i]["Action"] && permissiondata.permissiondata[k]["PermissionStatus"] ==true) {
                                                viewstatus = true;
                                                break
                                            }
                                           
                                        }


                                        if (viewstatus == true) {
                                            str += "<li> <input id='" + data.data[i]["Controller"] + "-" + data.data[i]["Action"] + "_" + data.data[i]["Description"] + "' type='checkbox' checked='true' /> " + data.data[i]["Action"] + "   " + data.data[i]["Description"] + "</li>";
                                        }
                                        else {
                                            str += "<li> <input id='" + data.data[i]["Controller"] + "-" + data.data[i]["Action"] + "_" + data.data[i]["Description"]  + "' type='checkbox' />" + data.data[i]["Action"] + "  " + data.data[i]["Description"] + "</li>";
                                        }

                                    }
                                    str += "</ul>";
                                    //str += "</tbody></table>";
                                    $("#treeList").append(str);

                                }
                            });

                        }

                    }

                });


                $('#treeList :checkbox').change(function () {
                    $(this).siblings('ul').find(':checkbox').prop('checked', this.checked);
                    if (this.checked) {
                        $(this).parentsUntil('#treeList', 'ul').siblings(':checkbox').prop('checked', true);
                    } else {
                        $(this).parentsUntil('#treeList', 'ul').each(function () {
                            var $this = $(this);
                            var childSelected = $this.find(':checkbox:checked').length;
                            if (!childSelected) {
                                $this.prev(':checkbox').prop('checked', false);
                            }
                        });
                    }
                });  


                $('#btnSubmit').click(function () {
                    $('body').loadingModal({ text: 'Processing...' });
                    var selected = [];
                    $('#dynamicTable input:checked').each(function () {
                        selected.push($(this).attr('id'));
                    });


                    $.ajax({
                        type: "POST",
                        url: "/Permissions/SaveGrid",
                        dataType: "json",
                        data: { chkboxes: selected },
                        success: function (data) {
                            //alert("Record added successfully.");
                            $.notify("Permission created successfully", {
                                globalPosition: "top center",
                                className: "success"
                            })
                        },
                        error: function (error) {
                            jsonValue = jQuery.parseJSON(error.responseText);
                            alert("Error : " + jsonValue);
                        }   
                    });
                    $('body').loadingModal('destroy');
                });

            });

        </script>

