
@{
    ViewBag.Title = "Revenue Report";
}

<script src="~/Scripts/jquery-1.12.4.min.js"></script>
<!-- Breadcrumb -->
<ol class="breadcrumb breadcrumb-2">
    <li><a><i class="glyphicon-cog"></i>Reports</a></li>
    <li class="active"><strong>Outpatient Revenue</strong></li>
</ol>
<div class="form-horizontal">
    <table>
        <tr style="height:100px;width:100%;overflow-y:scroll;">
            <td style="padding:5px;vertical-align:top;">
                <div id="dynamicdpd">
                    Select Doctor's<br />
                </div>
            </td>
        </tr>

        <tr>
            <td valign="middle" style="padding:5px;">
                Start Date
                <div id="date-popup" class="input-group date">
                    <input id="stdt" type="text" data-mask="99/99/9999" class="form-control">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                </div>
            </td>
            <td valign="middle" style="padding:5px;">
                End Date
                <div id="date-popup" class="input-group date">
                    <input id="enddt" type="text" data-mask="99/99/9999" class="form-control">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                </div>
            </td>
            <td valign="middle" style="padding:5px;">
                <br />
                <input type="submit" value="Submit" id="btnSubmit" class="btn btn-success" />
            </td>
            <td valign="middle" style="padding:5px;">
                <br />
                <span class="input-group-addon" id="btnPrint"><i class="fa fa-print"></i></span>
            </td>
        </tr>
        <tr>
            <td colspan="4"></td>
        </tr>
    </table>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div id="dynamicTable">
                </div>
            </div>
        </div>
    </div>

</div>


<script type="text/javascript">

    $(document).ready(function () {
        var stdate = new Date();
        stdate.setDate(stdate.getDate() - 7);
        $('#stdt').datepicker({
            keyboardNavigation: false,
            forceParse: false,
            todayHighlight: true,
            todayBtn: false,
            endDate: '+0d',
            format: "mm/dd/yyyy", language: "en-US"
        }).datepicker("setDate", stdate);
        $('#enddt').datepicker({
            keyboardNavigation: false,
            forceParse: false,
            todayHighlight: true,
            todayBtn: false,
            endDate: '+0d',
            format: "mm/dd/yyyy", language: "en-US"
        }).datepicker("setDate", "0");

        $('.icondobpicker').click(function (event) {
            event.preventDefault();
            $('#stdt').datepicker('show');
        });

        $.ajax({
            type: "POST",
            url: '/Revenuerpt/GetDoctors',
            success: function (data) {
                if (data != null) {
                    var str = "";
                    for (var i = 0; i < data.data.length; i++) {
                        str += " <input id=" + data.data[i]["UserID"] + " type='checkbox'/> " + data.data[i]["NameDisplay"] + "  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  ";
                    }
                    $("#dynamicdpd").append(str);
                }
            }
        });

        $('#btnPrint').click(function () {
            $('#dynamicTable').printThis({
                header: '<img src="http://sravanthihospital.in/light/images/hms-logo_login.png" style="width:420px;" alt="Mouldifi" title="Sravanthi Hospitals">',
                footer: false,
                pageTitle: ""
            });
        });

        $('#btnSubmit').click(function () {
            var stdt = $("#stdt").val();
            var eddt = $("#enddt").val();
            var doctors = "";
            $("#mytab").remove();
            $("#dynamicTable").empty();
            $('#dynamicdpd input:checked').each(function () {
                doctors += $(this).attr('id') + ",";
            });
            if (doctors == "") { alert('Please select atleast one doctor'); }
            else {
                var data1 = { "doctors": doctors.substring(0, doctors.length - 1), "stdt": stdt + ' 00:00:00.000', "enddt": eddt + ' 23:59:59.000' };
                $.ajax({
                    type: "POST",
                    data: data1,
                    url: '/Revenuerpt/GetReportdata',
                    beforeSend: function () {
                        $('body').loadingModal({ text: 'Loading...' });
                    },
                    success: function (data) {
                        $('body').loadingModal('destroy');
                        if (data != null && data.data.length > 0) {
                            var str = "";
                            str += "<table id='mytab' class='table table-striped table-bordered'><tr><td  colspan='2'></td><td  colspan='2'><b>Consultation</b></td><td  colspan='3'><b>Lab Tests Amount</b></td><td  colspan='3'><b>Scan Tests Amount</b></td><td  colspan='3'><b>Pharmacy Amount</b></td><td><b>Packages</b></td><td></td></tr><tr>"
                            str += "<td  colspan='2'></td>";
                            str += "<td><b>Fee</b></td>";
                            str += "<td><b>Discount</b></td>";
                            str += "<td><b>Total</b></td>";
                            str += "<td><b>Paid</b></td>";
                            str += "<td><b>Discount</b></td>";
                            str += "<td><b>Total</b></td>";
                            str += "<td><b>Paid</b></td>";
                            str += "<td><b>Discount</b></td>";
                            str += "<td><b>Total</b></td>";
                            str += "<td><b>Paid</b></td>";
                            str += "<td><b>Discount</b></td>";
                            str += "<td><b>Packages Amount</b></td>";
                            str += "<td><b>Total</b></td>";
                            str += "<tr>";
                            var consultationFeesum = 0;
                            var feeDiscountsum = 0;
                            var LabTotalAmountsum = 0;
                            var LabTestPaidAmountsum = 0;
                            var LabTestDiscountsum = 0;
                            var scanTotalAmountsum = 0;
                            var scanTestPaidAmountsum = 0;
                            var scanTestDiscountsum = 0;
                            var pharmaTotalAmountsum = 0;
                            var pharmaTestPaidAmountsum = 0;
                            var pharmaTestDiscountsum = 0;
                            var RowSum = 0;
                            for (var i = 0; i < data.data.length; i++) {
                                if (i == 0) {
                                    str += "<tr><td colspan='8' style='font- size:x - large;'><b>Doctor: " + data.data[i]["DoctorFirstName"] + " " + data.data[i]["DoctorLasttName"] + "  " + stdt + " - " + eddt + " Revenue Report</b></td></tr >";
                                }
                                else if (data.data[i]["DoctorID"] != data.data[i - 1]["DoctorID"]) {
                                    str += "<tr><td colspan='8' style='font- size:x - large;'><b>Doctor: " + data.data[i]["DoctorFirstName"] + " " + data.data[i]["DoctorLasttName"] + "  " + stdt + " - " + eddt + " Revenue Report</b></td></tr >";
                                }

                                str += "<tr>";
                                str += "<td>" + data.data[i]["ENMRNO"] + "</td>";
                                str += "<td>" + data.data[i]["PatientFirstName"] + " " + data.data[i]["PatientLasttName"] + "</td>";

                                if (data.data[i]["consultationFee"] != null) {
                                    consultationFeesum += data.data[i]["consultationFee"];
                                    RowSum += data.data[i]["consultationFee"];
                                    str += "<td>" + data.data[i]["consultationFee"] + "</td>";
                                }
                                else {
                                    str += "<td>0</td>";
                                }
                                if (data.data[i]["feeDiscount"] != null) {
                                    feeDiscountsum += data.data[i]["feeDiscount"];
                                    RowSum -= data.data[i]["feeDiscount"];
                                    str += "<td>" + data.data[i]["feeDiscount"] + "</td>";
                                }
                                else {
                                    str += "<td>0</td>";
                                }
                                if (data.data[i]["LabTotalAmount"] != null) {
                                    LabTotalAmountsum += data.data[i]["LabTotalAmount"];
                                    // RowSum += data.data[i]["LabTotalAmount"];
                                    str += "<td>" + data.data[i]["LabTotalAmount"] + "</td>";
                                }
                                else {
                                    str += "<td>0</td>";
                                }
                                if (data.data[i]["LabTestPaidAmount"] != null) {
                                    LabTestPaidAmountsum += data.data[i]["LabTestPaidAmount"];
                                    RowSum += data.data[i]["LabTestPaidAmount"];
                                    str += "<td>" + data.data[i]["LabTestPaidAmount"] + "</td>";
                                }
                                else {
                                    str += "<td>0</td>";
                                }
                                if (data.data[i]["LabTestDiscount"] != null) {
                                    LabTestDiscountsum += data.data[i]["LabTestDiscount"];
                                    //RowSum -= data.data[i]["LabTestDiscount"];
                                    str += "<td>" + data.data[i]["LabTestDiscount"] + "</td>";
                                }
                                else {
                                    str += "<td>0</td>";
                                }


                                if (data.data[i]["ScanTotalAmount"] != null) {
                                    scanTotalAmountsum += data.data[i]["ScanTotalAmount"];
                                    // RowSum += data.data[i]["LabTotalAmount"];
                                    str += "<td>" + data.data[i]["ScanTotalAmount"] + "</td>";
                                }
                                else {
                                    str += "<td>0</td>";
                                }
                                if (data.data[i]["ScanTestPaidAmount"] != null) {
                                    scanTestPaidAmountsum += data.data[i]["ScanTestPaidAmount"];
                                    RowSum += data.data[i]["ScanTestPaidAmount"];
                                    str += "<td>" + data.data[i]["ScanTestPaidAmount"] + "</td>";
                                }
                                else {
                                    str += "<td>0</td>";
                                }
                                if (data.data[i]["ScanTestDiscount"] != null) {
                                    scanTestDiscountsum += data.data[i]["ScanTestDiscount"];
                                    //RowSum -= data.data[i]["LabTestDiscount"];
                                    str += "<td>" + data.data[i]["ScanTestDiscount"] + "</td>";
                                }
                                else {
                                    str += "<td>0</td>";
                                }


                                if (data.data[i]["PharmaTotalAmount"] != null) {
                                    pharmaTotalAmountsum += data.data[i]["PharmaTotalAmount"];
                                    // RowSum += data.data[i]["LabTotalAmount"];
                                    str += "<td>" + data.data[i]["PharmaTotalAmount"] + "</td>";
                                }
                                else {
                                    str += "<td>0</td>";
                                }
                                if (data.data[i]["PharmaPaidAmount"] != null) {
                                    pharmaTestPaidAmountsum += data.data[i]["PharmaPaidAmount"];
                                    RowSum += data.data[i]["PharmaPaidAmount"];
                                    str += "<td>" + data.data[i]["PharmaPaidAmount"] + "</td>";
                                }
                                else {
                                    str += "<td>0</td>";
                                }
                                if (data.data[i]["PharmaDiscount"] != null) {
                                    pharmaTestDiscountsum += data.data[i]["PharmaDiscount"];
                                    //RowSum -= data.data[i]["LabTestDiscount"];
                                    str += "<td>" + data.data[i]["PharmaDiscount"] + "</td>";
                                }
                                else {
                                    str += "<td>0</td>";
                                }


                                str += "<td></td>";
                                str += "<td>" + RowSum + "</td>";

                                str += "</tr >";
                                if (i == data.data.length - 1) {
                                    var tot = consultationFeesum - feeDiscountsum + LabTestPaidAmountsum + scanTestDiscountsum;
                                    str += "<tr><td colspan='2' style='font- size:x - large;'><b>Total: </b></td><td><b>" + consultationFeesum + "</b></td><td><b>" + feeDiscountsum + "</b></td><td><b>" + LabTotalAmountsum + "</b></td><td><b>" + LabTestPaidAmountsum + "</b></td><td><b>" + LabTestDiscountsum + "</b></td><td><b>" + scanTotalAmountsum + "</b></td><td><b>" + scanTestPaidAmountsum + "</b></td><td><b>" + scanTestDiscountsum + "</b></td><td><b>" + pharmaTotalAmountsum + "</b></td><td><b>" + pharmaTestPaidAmountsum + "</b></td><td><b>" + pharmaTestDiscountsum + "</b></td><td></td><td><b>" + tot + "</b></td></tr >";
                                    consultationFeesum = 0;
                                    feeDiscountsum = 0;
                                    LabTotalAmountsum = 0;
                                    LabTestPaidAmountsum = 0;
                                    LabTestDiscountsum = 0;
                                    scanTotalAmountsum = 0;
                                    scanTestPaidAmountsum = 0;
                                    scanTestDiscountsum = 0;
                                    pharmaTotalAmountsum = 0;
                                    pharmaTestPaidAmountsum = 0;
                                    pharmaTestDiscountsum = 0;
                                }
                                else if (data.data[i]["DoctorID"] != data.data[i + 1]["DoctorID"]) {
                                    var tot = consultationFeesum - feeDiscountsum + LabTestPaidAmountsum + scanTestDiscountsum;
                                    str += "<tr><td colspan='2' style='font- size:x - large;'><b>Total: </b></td><td><b>" + consultationFeesum + "</b></td><td><b>" + feeDiscountsum + "</b></td><td><b>" + LabTotalAmountsum + "</b></td><td><b>" + LabTestPaidAmountsum + "</b></td><td><b>" + LabTestDiscountsum + "</b></td><td><b>" + scanTotalAmountsum + "</b></td><td><b>" + scanTestPaidAmountsum + "</b></td><td><b>" + scanTestDiscountsum + "</b></td><td><b>" + pharmaTotalAmountsum + "</b></td><td><b>" + pharmaTestPaidAmountsum + "</b></td><td><b>" + pharmaTestDiscountsum + "</b></td><td></td><td><b>" + tot + "</b></td></tr >";
                                    consultationFeesum = 0;
                                    feeDiscountsum = 0;
                                    LabTotalAmountsum = 0;
                                    LabTestPaidAmountsum = 0;
                                    LabTestDiscountsum = 0;
                                    scanTotalAmountsum = 0;
                                    scanTestPaidAmountsum = 0;
                                    scanTestDiscountsum = 0;
                                    pharmaTotalAmountsum = 0;
                                    pharmaTestPaidAmountsum = 0;
                                    pharmaTestDiscountsum = 0;
                                }
                                RowSum = 0;
                            }

                            str += "</table>";
                            $("#dynamicTable").append(str);
                        }
                        else {
                            var str1 = "<table><tr><td align='center'>No records found</td></tr></table>";
                            $("#dynamicTable").append(str1);
                        }
                    }
                });
            }
        });
    });

</script>
