
@{
    Layout = "~/Views/Shared/_LoginPartial.cshtml";
}
<style type="text/css">
    .login-content {
        width: 420px;
        margin: 0.3px 200px !important;
        padding: 30px 30px 15px;
    }

    .login-branding {
        margin-left: 200px !important;
        padding: 100px 0px 0px !important;
        text-align: center;
    }
</style>
@using (Html.BeginForm("Login", "Login", FormMethod.Post, new { @class = "login-form", enctype = "multipart/form-data" }))
{
    <div class="login-container">
        <div class="login-branding">
            <a><img src="~/light/images/hms-logo_login.png" style="width:420px;" alt="Mouldifi" title="Sravanthi Hospitals"></a>
        </div>
        <div class="login-content mx-auto">
            <h2><strong>Welcome</strong>, please login</h2>
            <form method="post" action="index.html">
                <div class="form-group">
                    <input type="text" name="username" placeholder="Username" class="form-control">
                </div>
                <div class="form-group">
                    <input type="password" name="password" placeholder="Password" class="form-control">
                </div>
                <div class="form-group">
                    <div class="checkbox checkbox-replace">
                        <input type="checkbox" id="remeber">
                        <label for="remeber">Remeber me</label>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" name="submit" value="Login" class="btn btn-primary btn-block" />
                </div>
                <p class="text-center"><a href="forgot-password.html">Forgot your password?</a></p>
            </form>
        </div>
    </div>
}
<!--Load JQuery-->
